.StatCard {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // align-content: space-around;
  // flex-wrap: wrap;
  flex: 1;
  height: 260px;
  padding: 2rem;
  line-height: 0rem;

  .title {
    font-size: 3rem;
    font-weight: 700;
  }

  .body {
    font-size: 2rem;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.color_light {
  background-color: #7cbed7;
}
.color_mid {
  background-color: #0283b3;
}
.color_dark {
  background-color: #005e81;
}
